@model DebateBoard.Models.Bio.BioDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>

    <h4>Biography</h4>
    <hr />

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12" style="line-height: 2.5; text-align: right;">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12" style="line-height: 2.5;">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12" style="line-height: 2.5; text-align: right;">
            @Html.DisplayNameFor(model => model.Biography)
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12" style="line-height:2.5; text-align:justify">
            @Html.DisplayFor(model => model.Biography)
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12" style="line-height: 2.5; text-align: right;">
            @Html.DisplayNameFor(model => model.Points)
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12" style="line-height: 2.5;">
            @Html.DisplayFor(model => model.Points)
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12" style="line-height: 2.5; text-align: right;">
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12" style="line-height: 2.5;">
            @Html.DisplayFor(model => model.CreatedUtc)
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12" style="line-height: 2.5; text-align: right;">
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12" style="line-height: 2.5;">
            @Html.DisplayFor(model => model.ModifiedUtc)
        </div>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BioId)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-top:10px;">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Back", "Index")
    </div>

}


@*<h3>Are you sure you want to delete this?</h3>

<div>
        <h4>Biography</h4>
        <hr />
        <dl class="dl-horizontal" style="">

            <dt class="col-md-2">
                @Html.DisplayNameFor(model => model.BioId)
            </dt>

            <dd class="col-md-offset-2">
                @Html.DisplayFor(model => model.BioId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Biography)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Biography)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Points)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Points)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </div>*@
